apiVersion: apps/v1
kind: Deployment
metadata:
  name: telemetryguard-mlflow
  labels:
    app: telemetryguard-mlflow
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: telemetryguard-mlflow
  template:
    metadata:
      labels:
        app: telemetryguard-mlflow
      annotations:
        {{- toYaml .Values.podAnnotations | nindent 8 }}
    spec:
      serviceAccountName: telemetryguard-mlflow-sa
      containers:
        - name: telemetryguard-mlflow
        # under containers[0]
          args:
           - "server"
           - "--host"
           - "0.0.0.0"
           - "--port"
           - "{{ .Values.service.port }}"
           - "--serve-artifacts"
           - "--artifacts-destination"
           - "wasbs://mlflow-artifacts@{{ .Values.artifactStorage.accountName }}.blob.core.windows.net"


          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          env:
            {{- toYaml .Values.env | nindent 12 }}

          livenessProbe:
            tcpSocket:
              port: {{ .Values.service.port }}
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 5

          readinessProbe:
            tcpSocket:
              port: {{ .Values.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 5

      restartPolicy: Always
